# Project sources use UTF-8 (no BOM)
root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{sh,yml}]
end_of_line = lf

[*.{c,h,bat,txt,md}]
end_of_line = crlf

[*.{c,h}]
charset = utf-8

[*.{bat,txt}]
charset = utf-8
